.footer {
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logoFooter ."
        "copyright menuViajado";
    grid-area: footer;
}

.logoFooter {
    grid-area: logoFooter;
}

.copyright {
    grid-area: copyright;
}

.menuViajado {
    grid-area: menuViajado;
}