.header {
    padding: 15px 0;
    background-color: #C4170C;
    color: #FFFFFF;
    font-weight: 600 ;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    /* gap: 0px 0px; */
    /* grid-auto-flow: row; */
    grid-template-areas:
        "menu logo search";
    grid-area: header;
}

.menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
}
.botaoMenu{
    display: flex;
    align-items: center;
    cursor: pointer;
}


.logo {
    grid-area: logo;
}

.search {
    grid-area: search;
}

.search input{
    border: #8B0000 solid 10px;
    outline-color: rgb(160, 160, 160);
    outline-offset: 1px;
    outline-style: solid;
    outline-width: 1px;
    background: url("../img/search.svg") no-repeat left center / contain;
    background-color: #8B0000;
    padding-left: 5%;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 10px;
    width: 30%;
    height: 30px;
}