.footer {
    background-color: #C4170C;
    color: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-template-areas:
        "logoFooter ."
        "copyright menuServico";
    grid-area: footer;
    padding: 15px 10% 0 10%;
    margin: 50px 0 0 0;
    text-align: left;
}

.logoFooter {
    grid-area: logoFooter;
    display: flex;
    align-items: center;
}
.logoFooter span{
    padding-left: 30px;
    font: normal normal 600 25px/35px 'Segoe UI';
}

.copyright {
    grid-area: copyright;
    margin: 0;
    font: normal normal normal 20px/28px 'Segoe UI';
}

.menuServico {
    grid-area: menuServico;
    text-align: end;
    font: normal normal normal 20px/28px 'Segoe UI';
}
.menuServico ul li{
    display: inline-block;
    border-right: #fff solid 2px;
}
.menuServico ul li a, a:hover, a:active, a:visited {
    padding: 0 5px;
    color: #fff;
    text-decoration: none;
}
.menuServico ul li:last-child{
    border-right: none;
}
.menuServico ul li a:hover{
    background-color: #fff;
    border-radius: 10px;
    color: #C4170C;
    transition: all 0.3s;
}


@media screen and (max-width: 720px) {
    .footer {
        padding: 15px 5% 0 5%;
        grid-template-areas:
        "logoFooter menuServico"
        "copyright menuServico";
    }

    .logoFooter img {
        width: 35px;
    }

    .logoFooter span{
        padding-left: 30px;
        font: normal normal 600 15px/25px 'Segoe UI';
    }

    .menuServico ul li{
        display: block;
    }
    .menuServico ul li:last-child{
        border-right: #fff solid 2px;
    }
    .copyright {
        grid-area: copyright;
        margin: 0;
        font: normal normal normal 15px 'Segoe UI';
    }
}